<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Filter (Full-text search)</label>
                    <input id="filter" type="text" class="form-control" placeholder="Filter by keyword">
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <table class="footable table toggle-arrow-tiny" data-page-size="20" data-filter=#filter>
            <thead>
                <tr>
                    <th class="col-sm-1" data-toggle="true">Application</th>
                    <th class="col-sm-1">Team</th>
                    <th class="col-sm-1">Owner</th>
                    <th class="col-sm-1">Environment</th>
                    <th class="col-sm-1">Status</th>
                    <th class="col-sm-1">Actions</th>
                    <th data-hide="all">Description</th>
                    <th data-hide="all">Infinity RPC jar version</th>
                    <th data-hide="all">Online time</th>
                </tr>
            </thead>
            <tbody>
                <tr on-footable-finish-render ng-repeat="item in vm.items">
                    <td><span>{{item.name}}</span></td>
                    <td><span>{{item.team}}</span></td>
                    <td><span>{{item.ownerMail}}</span></td>
                    <td><span>{{item.env}}</span></td>
                    <td>
                        <span class="label label-primary" ng-show="item.providing || item.consuming">Active</span>
                        <span class="label label-danger" ng-show="!item.providing && !item.consuming">Inactive</span>
                    </td>
                    <td>
                        <div class="btn-group">
                            <button class="btn-white btn btn-xs" ng-disabled="!item.providing"
                                    ui-sref="service-discovery.rpc-provider-list({application: item.name})"
                                    uib-tooltip="Discover all providers of this application">Providers</button>
                            <button class="btn-white btn btn-xs" ng-disabled="!item.consuming"
                                    ui-sref="service-discovery.rpc-consumer-list({application: item.name})"
                                    uib-tooltip="Discover all consumers of this application">Consumers</button>
                        </div>
                    </td>
                    <td class="break">
                        <span>{{item.description}}</span>
                    </td>
                    <td class="break">
                        <span>{{item.jarVersion}}</span>
                    </td>
                    <td class="break">
                        <span>{{item.createdTime | date:'yyyy/MM/dd HH:mm:ss'}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>