# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
# Full reference is available at:
# https://docs.spring.io/spring-boot/docs/2.5.5/reference/html/application-properties.html#application-properties
# ===================================================================
app:
    id: luix-rpc-web-center
    name: luix-rpc-web-center
    version: 1.0.0
    package: com.luixtech.rpc.webcenter
    companyName: Infinity Organization
management: # Management http server configuration, used by ManagementServerProperties
    endpoints:
        web:
            base-path: /management
            exposure: # Refer to https://docs.spring.io/spring-boot/docs/2.5.5/reference/html/application-properties.html#application-properties.actuator
                include: ['configprops', 'env', 'health', 'beans', 'mappings', 'httptrace', 'shutdown', 'auditevents', 'scheduledtasks', 'loggers', 'prometheus', 'threaddump']
    endpoint:
        health: # used by HealthEndpointProperties, Note: it will show health details if it has the access token by Ajax
            enabled: true
            show-details: WHEN_AUTHORIZED
        httptrace:
            enabled: true
        shutdown:
            enabled: true # explicitly enable
    health:
        mail:
            enabled: true
        mongo:
            enabled: true
    metrics:
        export:
            prometheus: # Prometheus is the default metrics backend
                enabled: true
                step: 60
        enable:
            http: true
            jvm: true
            logback: true
            process: true
            system: true
        distribution:
            percentiles-histogram:
                all: true
            percentiles:
                all: 0, 0.5, 0.75, 0.95, 0.99, 1.0
        tags:
            application: ${spring.application.name}
        web:
            server:
                request:
                    autotime:
                        enabled: true
spring:
    application:
        name: ${app.id}
    profiles:
        # It can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: dev
    main:
        allow-bean-definition-overriding: true
    messages:
        basename: i18n/messages
    task:
        execution:
            thread-name-prefix: global-async-task-
            pool:
                core-size: 5
                max-size: 32 # 生产环境CPU是32线程
                queue-capacity: 1000
        scheduling:
            thread-name-prefix: global-scheduling-
            pool:
                size: 10
    thymeleaf: #ThymeleafAutoConfiguration
        mode: HTML
    servlet:
        multipart: # Management http multipart configuration, used by MultipartProperties
            enabled: true
            max-file-size: 30MB
            max-request-size: 30MB
    mail: # specific mail property, used by MailProperties
        host: smtp.exmail.qq.com
        username: test@luixtech.com
        password: LoU-UHR-9dH-8G9-F3G
    banner:
        location: classpath:config/banner-company.txt
    data:
        mongodb:
            auto-index-creation: false
server:
    # It can be overridden by `--server.port` value passed in the commandline or `-Dserver.port` set in `JAVA_OPTS`
    port: 6030
    servlet:
        session:
            cookie:
                http-only: true
logging:
    config: classpath:config/logback-spring.xml
    level:
        root: INFO
mongock:
    enabled: true
    track-ignored: true
    migration-scan-package:
        - ${app.package}.config.dbmigrations
    mongo-db:
        read-concern: local
        write-concern:
            journal: false
luix:
    application:
        id: ${spring.application.name}
        description: RPC Web Center
        team: Infinity Team
        emailSuffixes: '@luixtech.com'
        ownerEmail: louis@luixtech.com
        env: ${spring.profiles.active}
    registries:
        0:
            name: consul
            connectTimeout: 1000
            sessionTimeout: 60000
    protocol:
        port: 1${server.port}
        serializer: hessian2
# ===================================================================
# Application specific properties
# ===================================================================
application:
    metrics: # DropWizard Metrics configuration, used by MetricsConfiguration
        logs: # print metrics info to the logs
            enabled: false
            report-frequency: 60 # in seconds
        graphite: # output metrics info to graphite server
            enabled: false
            host: localhost
            port: 2003
            prefix: ${spring.application.name}
    http:
        cache: # Used by the CachingHttpHeadersFilter
            expired-after: 31
    swagger:
        enabled: true
        api:
            title: Luix Web Center
            description: Luix Web Center API
        open-api:
            title: Luix Web Center Open API
            description: Luix Web Center Open API
        version: ${app.version}
        contact-name: Louis
        contact-email: louis@luixtech.com
        host:
    aop-logging:
        enabled: true
    elapsed-time-logging:
        enabled: true
        slow-execution-threshold: 300 # unit: ms
    cors:
        allowed-methods: "*"
        allowed-headers: "*"
        exposed-headers: "Authorization,Link,X-Total-Count,X-${spring.application.name}-alert,X-${spring.application.name}-error,X-${spring.application.name}-params"
        allow-credentials: true
        max-age: 1800
    user-event-audit:
        enabled: true
    account:
        default-password: ${spring.application.name}
    ribbon:
        # comma separated list of profiles to show a ribbon on the GUI
        display-on-active-profiles: dev,test,demo
    security:
        content-security-policy: "frame-src 'self' data:; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://storage.googleapis.com;"
        authentication:
            jwt:
                # This token must be encoded using Base64 and be at least 256 bits long (you can type `openssl rand -base64 64` on your command line to generate a 512 bits one)
                base64-secret: Epc4yo1VAtS10s7LzRis2NyTynSWAlggB9/iAdKHhkwI8JvgqV+gW3p+HFOVKiKuVYj37YgLaVKo0T+Fxlwynw==
                # Token is valid 24 hours
                token-validity-in-seconds: 86400
                token-validity-in-seconds-for-remember-me: 2592000