<div class="row">
    <div class="col-lg-12">
        <div class="ibox">
            <div class="ibox-content p-w-m">
                <div class="row p-h-xs">
                    <div class="col-sm-12">
                        <div class="form-group">
                            <label class="control-label" for="name">Task name</label>
                            <input type="text" id="name" class="form-control" ng-model="vm.criteria.name"
                                   ng-keydown="vm.checkPressEnter($event)">
                        </div>
                    </div>
                </div>
                <table class="table table-striped">
                    <thead>
                    <tr sort-directive="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                        <th sort-by-directive="name"><span>Task name</span> <span class="fa fa-sort"></span></th>
                        <th>Method signature</th>
                        <th>Method arguments</th>
                        <th>Cron expression</th>
                        <th>Elapsed</th>
                        <th sort-by-directive="success"><span>Success</span> <span class="fa fa-sort"></span></th>
                        <th sort-by-directive="createdTime"><span>Executing time</span> <span class="fa fa-sort"></span></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in vm.entities track by entity.id">
                        <td>{{entity.name}}</td>
                        <td>{{entity.methodSignature}}</td>
                        <td>{{entity.argumentsJson}}</td>
                        <td>{{entity.cronExpression}}</td>
                        <td>{{entity.elapsed}}</td>
                        <td>{{entity.success}}</td>
                        <td>{{entity.createdTime | date:'yyyy/MM/dd HH:mm:ss'}}</td>
                    </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="12" class="text-center">
                                <strong>
                                    <item-count-component page="vm.page" total="vm.totalItems"
                                                          items-per-page="vm.itemsPerPage"></item-count-component>
                                </strong>
                                <uib-pagination class="pagination-sm m-xs" total-items="vm.totalItems"
                                                ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                            </td>
                        </tr>
                    </tfoot>
                </table>
                <tr>
                    <div class="text-right">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal" ng-click="vm.close()">
                            <span class="fa fa-times"></span>&nbsp;<span>Close</span>
                        </button>
                    </div>
                </tr>
            </div>
        </div>
    </div>
</div>