<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>RPC provider details</h2>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content">
        <div class="row">
            <div class="col-lg-12">
                <div class="m-b-md">
                    <button type="button" class="btn btn-default btn-sm pull-right" ui-sref="^">
                        <span class="fa fa-arrow-left"></span>&nbsp;<span>Back</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Application:</dt>
                    <dd>{{vm.entity.application}}</dd>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Status:</dt>
                    <dd><span class="label label-primary">{{vm.entity.active ? 'Active' : 'Inactive'}}</span></dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <dl class="dl-horizontal">
                    <dt>Interface:</dt>
                    <dd>{{vm.entity.interfaceName}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Form:</dt>
                    <dd>{{vm.entity.form}}</dd>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Version:</dt>
                    <dd>{{vm.entity.version}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <dl class="dl-horizontal">
                    <dt>URL:</dt>
                    <dd>{{vm.entity.url}}</dd>
                </dl>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Address:</dt>
                    <dd>{{vm.entity.address}}</dd>
                </dl>
            </div>
            <div class="col-lg-6">
                <dl class="dl-horizontal">
                    <dt>Consumers:</dt>
                    <dd>
                        <button class="btn-white btn btn-xs" ng-disabled="!vm.entity.consuming"
                            ui-sref="service-discovery.rpc-consumer-list({interfaceName: vm.entity.interfaceName})"
                            uib-tooltip="Discover all consumers of this service">{{vm.entity.consuming ? 'Go' : 'None'}}</button>
                    </dd>
                </dl>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-lg-12">
                <div class="panel blank-panel ui-tab">
                    <uib-tabset>
                        <uib-tab heading="Invocation" active="tab.active" class="dsads">
                            <div class="feed-activity-list">
                                <div class="feed-element">
                                    <a href="" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a3.jpg">
                                    </a>

                                    <div class="media-body ">
                                        <small class="pull-right">2h ago</small>
                                        <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                                        <small class="text-muted">2 days ago at 8:30am</small>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="Health">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Status</th>
                                    <th>Title</th>
                                    <th>Start Time</th>
                                    <th>End Time</th>
                                    <th>Comments</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                    </td>
                                    <td>
                                        Create project in webapp
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                    </td>
                                    <td>
                                        Various versions
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                    </td>
                                    <td>
                                        There are many variations
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                    </td>
                                    <td>
                                        Latin words
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            Latin words, combined with a handful of model sentence structures
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Accepted</span>
                                    </td>
                                    <td>
                                        The generated Lorem
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                    </td>
                                    <td>
                                        The first line
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Reported</span>
                                    </td>
                                    <td>
                                        The standard chunk
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            The standard chunk of Lorem Ipsum used since the 1500s is reproduced below for those interested.
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Completed</span>
                                    </td>
                                    <td>
                                        Lorem Ipsum is that
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable.
                                        </p>
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        <span class="label label-primary"><i class="fa fa-check"></i> Sent</span>
                                    </td>
                                    <td>
                                        Contrary to popular
                                    </td>
                                    <td>
                                        12.07.2014 10:10:1
                                    </td>
                                    <td>
                                        14.07.2014 10:16:36
                                    </td>
                                    <td>
                                        <p class="small">
                                            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical
                                        </p>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </uib-tab>
                        <uib-tab heading="Timing tasks">
                            <div class="feed-activity-list">
                                <div class="feed-element">
                                    <a href="" class="pull-left">
                                        <img alt="image" class="img-circle" src="img/a3.jpg">
                                    </a>

                                    <div class="media-body ">
                                        <small class="pull-right">2h ago</small>
                                        <strong>Janet Rosowski</strong> add 1 photo on <strong>Monica Smith</strong>. <br>
                                        <small class="text-muted">2 days ago at 8:30am</small>
                                    </div>
                                </div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>
            </div>
        </div>
    </div>
</div>