# ===================================================================
# Spring Boot configuration.
#
# This configuration will be overridden by the Spring profile you use,
# for example application-dev.yml if you use the "dev" profile.
# Full reference is available at:
# https://docs.spring.io/spring-boot/docs/2.5.5/reference/html/application-properties.html#application-properties
# ===================================================================
app:
    id: luix-rpc-demo-server
    name: luix-rpc-demo-server
    version: 1.0.0
    package: com.luixtech.rpc.demoserver
    companyName: Infinity Organization
management: # Management http server configuration, used by ManagementServerProperties
    endpoints:
        web:
            base-path: /management
            exposure: # Refer to https://docs.spring.io/spring-boot/docs/2.5.5/reference/html/application-properties.html#application-properties.actuator
                include: ['configprops', 'env', 'health', 'beans', 'mappings', 'httptrace', 'shutdown', 'auditevents', 'scheduledtasks', 'loggers', 'prometheus', 'threaddump']
    endpoint:
        health: # used by HealthEndpointProperties, Note: it will show health details if it has the access token by Ajax
            enabled: true
            show-details: ALWAYS
        httptrace:
            enabled: true
        shutdown:
            enabled: true # explicitly enable
    health:
        mongo:
            enabled: true
    metrics:
        export:
            prometheus: # Prometheus is the default metrics backend
                enabled: true
                step: 60
        enable:
            http: true
            jvm: true
            logback: true
            process: true
            system: true
        distribution:
            percentiles-histogram:
                all: true
            percentiles:
                all: 0, 0.5, 0.75, 0.95, 0.99, 1.0
        tags:
            application: ${spring.application.name}
        web:
            server:
                request:
                    autotime:
                        enabled: true
spring:
    application:
        name: ${app.id}
    profiles:
        # It can be overridden by `--spring.profiles.active` value passed in the commandline or `-Dspring.profiles.active` set in `JAVA_OPTS`
        active: dev
    autoconfigure:
        exclude: org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
    main:
        allow-bean-definition-overriding: true
    messages:
        basename: i18n/messages
    task:
        execution:
            thread-name-prefix: global-async-task-
            pool:
                core-size: 5
                max-size: 32 # 生产环境CPU是32线程
                queue-capacity: 1000
        scheduling:
            thread-name-prefix: global-scheduling-
            pool:
                size: 10
    thymeleaf: #ThymeleafAutoConfiguration
        mode: HTML
    servlet:
        multipart: # Management http multipart configuration, used by MultipartProperties
            enabled: true
            max-file-size: 30MB
            max-request-size: 30MB
    banner:
        location: classpath:config/banner-company.txt
    data:
        mongodb:
            auto-index-creation: false
    jackson:
        mapper:
            propagate-transient-marker: true # disable serialize transient fields
server:
    # It can be overridden by `--server.port` value passed in the commandline or `-Dserver.port` set in `JAVA_OPTS`
    port: 6010
    servlet:
        session:
            cookie:
                name: ${spring.application.name}
            timeout: 1D # Session timeout in 1 day, Note: this parameter can control the login expiration
            # and this statement can effect spring session, used by SessionProperties
logging:
    config: classpath:config/logback-spring.xml
    level:
        root: DEBUG
mongock:
    enabled: true
    track-ignored: true
    migration-scan-package:
        - ${app.package}.config.dbmigrations
    mongo-db:
        read-concern: local
        write-concern:
            journal: false
luix:
    application:
        id: ${spring.application.name}
        description: RPC Demo Server
        team: Infinity Team
        emailSuffixes: '@luixtech.com'
        ownerEmail: louis@luixtech.com
        env: ${spring.profiles.active}
    registry:
        name: consul
        connectTimeout: 1000
        sessionTimeout: 60000
    protocol:
        port: 1${server.port}
        serializer: hessian2
# ===================================================================
# Application specific properties
# ===================================================================
application:
    http:
        cache: # Used by the CachingHttpHeadersFilter
            expired-after: 31
    swagger:
        enabled: true
        api:
            title: RPC App Server API
            description: RPC App Server API
        open-api:
            title: RPC App Server Open API
            description: RPC App Server API
        version: ${app.version}
        terms-of-service-url: http://www.luixtech.com
        contact-name: Louis
        contact-url: http://www.luixtech.com
        contact-email: louis@luixtech.com
        license: 1.0
        license-url: http://www.apache.org/licenses/LICENSE-2.0.html
        host:
    aop-logging:
        enabled: true
        method-whitelist-mode: false
        method-whitelist:
            - AppController.findById
            - AppController.create
    elapsed-time-logging:
        enabled: true
        slow-execution-threshold: 300 # unit: ms
    ribbon:
        # comma separated list of profiles to show a ribbon on the GUI
        display-on-active-profiles: dev,test,demo
