<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <a href="#{{$state.$current.url.sourcePath}}"><strong>{{vm.pageTitle}}</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
<!--    <div class="ibox-content m-b-sm border-bottom">-->
<!--        <div class="row">-->
<!--            <div class="col-sm-12">-->
<!--                <div class="form-group">-->
<!--                    <label class="control-label">Filter</label>-->
<!--                    <div class="input-group">-->
<!--                        <input type="text" class="form-control" placeholder="Filter by keyword" ng-model="filter">-->
<!--                        <span class="input-group-btn">-->
<!--                            <button type="button" class="btn btn-warning" ng-click="vm.refresh()">-->
<!--                                <span class="fa fa-refresh"></span>&nbsp;-->
<!--                                <span>Refresh</span>-->
<!--                            </button>-->
<!--                        </span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="footable table toggle-arrow-tiny">
                        <thead>
                        <tr>
                            <th data-toggle="true">Provider</th>
                            <th class="col-sm-1">Status</th>
                            <th>Actions</th>
                            <th data-hide="all">Application</th>
                            <th data-hide="all">Active providers</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in vm.items" on-footable-finish-render>
                            <td>{{item.name}}</td>
                            <td><pie-chart data="item.status.data" options="item.status.options"></pie-chart></td>
                            <td>
                                <div class="btn-group">
<!--                                    <button class="btn-white btn btn-xs" ng-click="vm.view(item)">View</button>-->
                                    <button class="btn-white btn btn-xs" ng-click="vm.deactivate(item)">Deactivate</button>
                                    <button class="btn-white btn btn-xs" ui-sref=".view({name: item.name})">Priority</button>
                                    <button class="btn-white btn btn-xs" ui-sref=".view({name: item.name})">Load Balance</button>
                                    <button class="btn-white btn btn-xs" ui-sref=".view({name: item.name})">Route</button>
                                </div>
                            </td>
                            <td>{{item.app}}</td>
                            <td>
                                <ul class="list-unstyled m-b-none">
                                    <li ng-repeat="activeProvider in item.activeProviders"><span>{{activeProvider.contents}}</span></li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>