<div class="row border-bottom" ng-controller="NavbarController as vm" ng-switch="vm.isAuthenticated()">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
<!--            <span minimalize-sidebar-directive></span>-->
            <div class="navbar-brand">
                <div class="sk-spinner sk-spinner-cube-grid">
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                    <div class="sk-cube"></div>
                </div>
            </div>
            <a class="navbar-brand p-h-m text-muted" href="#">&nbsp;&nbsp;&nbsp;
                <span class="text-navy"><strong>{{APP_NAME}}</strong></span>
                <span class="navbar-version">v{{VERSION}}</span>
            </a>
        </div>
        <div class="navbar-form-custom" has-authority-directive="ROLE_ADMIN">
            <select class="form-control text-navy" id="registry" ng-model="selectedRegistryIdentity"
                    ng-options="item.identity as item.identity for item in main.registries">
                <option value="">Select registry...</option>
            </select>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li uib-dropdown ng-switch-when="true" has-authority-directive="ROLE_ADMIN">
                <a class="count-info" href uib-dropdown-toggle>
                    <span class="fa fa-globe text-navy"></span>&nbsp;
                    <span class="text-navy">Service governance</span>
                </a>
                <ul uib-dropdown-menu class="animated fadeInDown m-t-xs">
                    <li ui-sref-active="active">
                        <a ui-sref="rpc.rpc-application-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-slack"></span>&nbsp;
                            <span>Applications</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="rpc.rpc-server-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-desktop"></span>&nbsp;
                            <span>Servers</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="rpc.rpc-service-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-rocket"></span>&nbsp;
                            <span>Services</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="rpc.rpc-provider-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-sun-o"></span>&nbsp;
                            <span>Providers</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="rpc.rpc-consumer-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-star-o"></span>&nbsp;
                            <span>Consumers</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li uib-dropdown ng-switch-when="true" has-authority-directive="ROLE_DEVELOPER">
                <a class="count-info" href uib-dropdown-toggle>
                    <span class="fa fa-child text-navy"></span>&nbsp;
                    <span class="text-navy">Developer tools</span>
                </a>
                <ul uib-dropdown-menu class="animated fadeInDown m-t-xs">
                    <li ng-show="vm.swaggerEnabled" ui-sref-active="active">
                        <a ui-sref="api" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-book"></span>&nbsp;
                            <span>API</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="health" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-heart"></span>&nbsp;
                            <span>Health</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="configuration" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-wrench"></span>&nbsp;
                            <span>Configuration</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="beans" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-bold"></span>&nbsp;
                            <span>Beans</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="mappings" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-link"></span>&nbsp;
                            <span>Mappings</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="http-trace" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-random"></span>&nbsp;
                            <span>Http Trace</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="http-session" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-retweet"></span>&nbsp;
                            <span>Http Session</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="audits" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-bell"></span>&nbsp;
                            <span>Audits</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="logger" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-tasks"></span>&nbsp;
                            <span>Loggers</span>
                        </a>
                    </li>
                </ul>
            </li>
<!--            <li uib-dropdown>-->
<!--                <a class="count-info" href uib-dropdown-toggle>-->
<!--                    <span class="fa fa-language"></span>&nbsp;-->
<!--                    <span>Languages</span>-->
<!--                </a>-->
<!--                <ul uib-dropdown-menu class="animated fadeInDown m-t-xs">-->
<!--                    <li><a ng-click="vm.changeLanguage('en')">English</a></li>-->
<!--                </ul>-->
<!--            </li>-->
            <li uib-dropdown ng-switch-when="true" has-authority-directive="ROLE_USER">
                <a class="count-info" href uib-dropdown-toggle>
                    <span class="fa fa-gear text-navy"></span>&nbsp;
                    <span class="text-navy">Settings</span>
                </a>
                <ul uib-dropdown-menu class="animated fadeInDown m-t-xs">
                    <li ui-sref-active="active">
                        <a ui-sref="about" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-twitch"></span>&nbsp;
                            <span>About</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="user-authority.authority-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-user-circle"></span>&nbsp;
                            <span>Authority</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="user-authority.user-list" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-male"></span>&nbsp;
                            <span>User</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li uib-dropdown ng-switch-when="true" has-authority-directive="ROLE_USER">
                <a class="count-info" href uib-dropdown-toggle>
                    <img alt="image" class="img-circle" style="width:22px" ng-src="{{main.account.profilePhotoUrl}}"
                         ng-show="main.account.hasProfilePhoto"/>
                    <img alt="image" class="img-circle" style="width:22px" ng-src="content/img/profile_small.png"
                         ng-hide="main.account.hasProfilePhoto"/>
                </a>
                <ul uib-dropdown-menu class="animated fadeInDown m-t-xs">
                    <li ui-sref-active="active">
                        <a ui-sref="profile" ng-click="vm.collapseNavbar()">
                            <span class="fa fa-female"></span>&nbsp;
                            <span>Profile</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-click="vm.collapseNavbar()">
                        <a ui-sref="password">
                            <span class="fa fa-pagelines"></span>&nbsp;
                            <span>Password</span>
                        </a>
                    </li>
                    <li>
                        <a ng-click="vm.logout()">
                            <span class="fa fa-sign-out"></span>&nbsp;
                            <span>Sign out</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>
