<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <a href="#{{$state.$current.url.sourcePath}}"><strong>{{vm.pageTitle}}</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label">Filter (Full-text search)</label>
                    <input id="filter" type="text" class="form-control" placeholder="Filter by provider">
                </div>
            </div>
        </div>
    </div>
    <div class="ibox-content">
        <table class="footable table toggle-arrow-tiny" data-page-size="20" data-filter=#filter>
            <thead>
                <tr>
                    <th class="col-sm-3" data-toggle="true">Service</th>
                    <th class="col-sm-1">Address</th>
                    <th class="col-sm-1">Form</th>
                    <th class="col-sm-1">Version</th>
                    <th class="col-sm-1">Application</th>
                    <th data-hide="all">URL</th>
                </tr>
            </thead>
            <tbody>
                <tr on-footable-finish-render ng-repeat="entity in vm.entities">
                    <td>{{entity.interfaceName}}</td>
                    <td>{{entity.address}}</td>
                    <td>{{entity.form}}</td>
                    <td>{{entity.version}}</td>
                    <td>{{entity.application}}</td>
                    <td class="break">
                        <span>{{entity.url}}</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="text-center">
            <strong><item-count-component page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count-component></strong>
            <uib-pagination class="pagination-sm m-xs" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
        </div>
    </div>
</div>