# ===================================================================
# Spring Boot configuration for the "prod" profile.
#
# This configuration overrides the application.yml file.
# ===================================================================

# ===================================================================
# Standard Spring Boot properties.
# Full reference is available at:
# http://docs.spring.io/spring-boot/docs/current/reference/html/common-application-properties.html
# ===================================================================

spring:
    devtools:
        restart:
            enabled: true # disable on prod environment
        livereload:
            enabled: false # we use gulp + BrowserSync for livereload
    rpc:
        registry:
            address: 127.0.0.1:2181
# ===================================================================
# Application specific properties
# ===================================================================