<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>{{vm.pageTitle}}</h2>
        <ol class="breadcrumb">
            <li>
                <a href="#">首页</a>
            </li>
            <li>
                <a style="pointer-events: none">{{vm.parentPageTitle}}</a>
            </li>
            <li class="active">
                <a href="#{{$state.$current.url.sourcePath}}"><strong>{{vm.pageTitle}}</strong></a>
            </li>
        </ol>
    </div>
</div>
<div class="wrapper wrapper-content p-h-xs animated fadeInDown">
    <div class="ibox-content m-b-sm border-bottom">
        <div class="row">
<!--            <div class="col-sm-6">-->
<!--                <div class="form-group">-->
<!--                    <label class="control-label" for="application">Application</label>-->
<!--                    <select class="form-control" id="application" ng-model="vm.criteria.application"-->
<!--                            ng-options="item as item for item in vm.applications"-->
<!--                            ng-change="vm.transition()">-->
<!--                        <option value="">Select...</option>-->
<!--                    </select>-->
<!--                </div>-->
<!--            </div>-->
            <div class="col-sm-12">
                <div class="form-group">
                    <label class="control-label" for="interfaceName">Name (fuzzy query)</label>
                    <input type="text" id="interfaceName" class="form-control"
                           ng-model="vm.criteria.interfaceName" ng-keydown="vm.checkPressEnter($event)">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-content">
                    <table class="table table-striped">
                        <thead>
                            <tr sort-directive="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                                <th sort-by-directive="interfaceName"><span>Name</span> <span class="fa fa-sort"></span></th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="entity in vm.entities track by entity.id">
                                <td>{{entity.interfaceName}}</td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn-white btn btn-xs" ng-disabled="!entity.providing"
                                                ui-sref="service-discovery.rpc-provider-list({interfaceName: entity.interfaceName})"
                                                uib-tooltip="Discover all providers of this service">Providers</button>
                                        <button class="btn-white btn btn-xs" ng-disabled="!entity.consuming"
                                                ui-sref="service-discovery.rpc-consumer-list({interfaceName: entity.interfaceName})"
                                                uib-tooltip="Discover all consumers of this service">Consumers</button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="12" class="text-center">
                                <strong><item-count-component page="vm.page" total="vm.totalItems" items-per-page="vm.itemsPerPage"></item-count-component></strong>
                                <uib-pagination class="pagination-sm m-xs" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>