# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Push docker image to docker registry
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 17
      uses: actions/setup-java@v2
      with:
        java-version: '17'
        distribution: 'temurin'
        cache: maven
    - name: Build and push docker image to docker registry
#      run: mvn compile jib:build
      run: ./mvnw package -DskipTests -P release -DharborUrl=pm6422.jfrog.io/default-docker-virtual -DharborUsername=pm6422@126.com -DharborPassword=Test12345
